*{
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}



body {
    background: url("../images/smthng.jpg") no-repeat;

}


nav {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: rgba(248, 0, 134, 0.46);
    display: flex;
    z-index: 2;
}


.menu {
    position: absolute;
    right: 0;
    width: 350px;
    height: 100%;
    margin-right: 1%;
    font-size: 20px;
}


.menu ul {
    display: flex;

}


.menu ul li a {
    color: #ffbb0c;
    text-decoration: none;
}


.menu ul li a:hover {
    color: deeppink;
    background: #ffbb0c;
}


.menu ul li {
    font-family: Aharoni;
    font-size: 28px;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
}


.logo {
    color: #ffbb0c;
    font-family:"Aharoni";
    font-size: 40px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}


.round {
    border-radius: 95%;
    border: 5px solid deeppink;
    box-shadow: 0 0 30px deeppink;
    margin-top: 5vh;
    margin-left: 60px;
    height: 300px;
    width: 300px;
}




.main {
    padding-top: 10vh;
    min-height: 90vh;
    width: 100%;
    position: relative;
}


.area {
    display: flex;
}


.left {
    width: 50%;
    height: 100vh;
}


.about {
    width: 70%;
    height: 160vh;
    margin-top: 80px;
    margin-left: 20%;
}


.right {
    width: 50%;
    max-height: 100vh;
}


.area1 {
    width: 40%;
    height: 80px;
    margin:70% 30% 0 10%;
    display: flex;
    font-size: 40px;
    padding: 0 20%;

}


.social {
    width: 50px;
    margin: 10px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 50px;
    color: #ffbb0c;
    background: deeppink;
    border: 5px solid deeppink;
    border-radius: 50%;
    padding: 10px;

}


.social:hover {
    background: #ffbb0c;
    /*border: 5px solid #ffbb0c;*/
}


.social a i {
    text-decoration: none;
    color: #ffbb0c;
    width: 50px;
    height: 50px;
}


.social a i:hover {
    color: deeppink;

}


.inst {
    padding-left: 10%;
}


/*.fa fa-instagram {*/
/*    color: red;*/
/*}*/


.contact-area {
    background: rgba(255, 20, 147, 0.57);
    border-radius: 20%;
    width: 400px;
    height: 350px;
    margin-left: 70vh;
    margin-top: 10vh;
}

.title {
    margin: 0 0 0 10vh;
    padding-top: 7vh;
    font-size: 50px;
    font-family: Aharoni;
    color: #ffbb0c;
}


.field {
    margin-top: 15vh;
}

input {
    background: #ffbb0c;
    border-color: #ffbb0c;
    color: deeppink;
}


.input1 {
    margin: 2% 4%;
    padding-right: 30%;
}


.input2 {
    margin: 2.3% 4%;
    padding-right: 30%;
}

.input-field {
    background-color: deeppink;
    width: 70%;
    height: 30px;
    border-radius: 10px;
    margin: 5% 15% 5% 15%;
    box-shadow: 0px 6px #9f0b5b;
}


.input-field-btn {
    /*margin: 5% 15% 5% 15%;*/
    margin: 5% 5% 5% 3.5%;
}

.btn {
    display: block;
    /*margin: auto;*/
    margin: 5vh 10vh;
    position: relative;
    padding: 25px 80px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: deeppink;
    border-radius: 20px;
    box-shadow: 0px 6px #9f0b5b;
    font-family: Verdana;
    color: #ffbb0c;
    font-weight: bolder;

}

.btn:hover {
    box-shadow: 0px 4px #7c1049;
    top: 2px;
}

.btn:active {
    box-shadow: 0px 0px #8a0e52;
    top: 6px;
}